{{#if isLog }}
{{> navbarLogin }}
{{else }}
{{> navbarLogout }}
{{/if}}

<p>je suis le product</p>

<div class="card-group">
    <div class="card">
        <img src="{{productPicture}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{productName}}</h5>
            <p class="card-text">{{tagProduct}}</p>
            <p class="card-text"><small class="text-muted">{{productPrice}}</small></p>
        </div>
    </div>
</div>
</div>